{% extends '::base.html.twig' %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
        <li class="Breadcrumb-item"><span class="u-color-grey-50 u-text-r-xs u-textWeight-700">Login</span></li>
{% endblock %}

{% block body %}

    {% if not form.vars.valid %}
        <div class="Alert Alert--error Alert--withIcon u-margin-r-bottom" role="alert">
            <p class="u-text-p">Verifica gli errori prima di procedere con l'invio del form</p>
        </div>
    {% elseif error is not empty %}
        <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'Form Form--spaced u-padding-all-xl u-background-grey-10 u-text-r-xs u-layout-prose', 'id': 'form_autenticazione'}}) }}

    <div class="Prose Alert Alert--info">
        <p><strong>Inserisci le tue credenziali per autenticarti​</strong></p>
    </div>

    <fieldset class="Form-fieldset">
        <legend class="Form-legend">Credenziali utente</legend>

        {% if form.username.vars.errors|length > 0 %}
            <div class="Form-field is-invalid">
                <div class="Alert Alert--error Alert--withBg u-padding-r-top u-padding-r-bottom u-padding-r-right">
                    <p id="error-username" class="u-text-p u-padding-r-bottom">{{ form_errors(form.username) }}</p>
                    {{ form_label(form.username, 'Email*', {'label_attr': {'class': 'Form-label is-required'}}) }}<br>
                    {{ form_widget(form.username, {'attr': {'class': 'Form-input'}}) }}
                </div>
            </div>
        {% else %}
            <div class="Form-field">
                {{ form_label(form.username, 'Email*', {'label_attr': {'class': 'Form-label is-required'}}) }}<br>
                {{ form_widget(form.username, {'attr': {'class': 'Form-input'}}) }}
            </div>
        {% endif %}

        {% if form.password.vars.errors|length > 0 %}
            <div class="Form-field is-invalid">
                <div class="Alert Alert--error Alert--withBg u-padding-r-top u-padding-r-bottom u-padding-r-right">
                    <p id="error-password-first" class="u-text-p u-padding-r-bottom">{{ form_errors(form.password.first) }}</p>
                    {{ form_label(form.password, 'Password*', {'label_attr': {'class': 'Form-label is-required'}}) }}<br>
                    {{ form_widget(form.password, {'attr': {'class': 'Form-input'}}) }}
                </div>
            </div>
        {% else %}
            <div class="Form-field">
                {{ form_label(form.password, 'Password*', {'label_attr': {'class': 'Form-label is-required'}}) }}<br>
                {{ form_widget(form.password, {'attr': {'class': 'Form-input'}}) }}
            </div>
        {% endif %}
        <div class="Form-field Grid-cell u-textRight">
            {{ form_widget(form.save, {'attr': {'class': 'Button Button--default u-text-xs'}}) }}
        </div>

    </fieldset>

    {{ form_widget(form.special_token, {'value' : csrf_token('authenticate')}) }}

    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}